.bigbutton {
    text-align: center;
    font-size: 16px;

    background-color: #111111;
    
    padding: 10px 7px;
    margin-top: 10px;
    width: 350px;
    
    border-radius: 10px;
    
    cursor: default;

    transition: 0.3s;
}

.bigbutton:hover {
    background-color: #151515;
}

.header {
    font-size: 20px;
    text-align: center;
}

.smallText {
    font-size: 14px;
    text-align: center;
    color: rgb(209, 209, 209);
}

.input {
    width: 350px;
    color: white;
    background-color: #111111;
    border-style: none;

    padding: 10px 7px;
    margin-top: 10px;

    font-size: 16px;

    border-radius: 10px;
}