.sidebar {
    width: 300px;
    height: 1080px;
    background-color: #161616;
    position: fixed;
}

.link {
    text-decoration: none;
}

.sidebarItem {

    text-decoration: none;

    color:#bcbcbc;
    background-color: #161616;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    width: 260px;

    padding: 20px 20px;

    cursor: default;

    transition: 0.2s;
}

.sidebarItem:hover {
    background-color: #252525;
    
}

.sidebarHeader {
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;

    padding: 60px 20px;
    cursor: default;
}

.overviewComponent {
    margin-left: 300px;
    background-color: #222222;
    height: 1920px;
}

.greeting {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;

    padding: 20px;
    margin-left: 30px;
}

.informationRow {
    margin-top: 100px;
    margin-left: 50px;
    width: 890px;
}

.informationBox {
    width: 280px;
    height: 160px;

    background-color: #161616;
    border-radius: 10px;

    float: left;
    margin-right: 10px;
}

.informationBoxNumber {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;

    margin-top: 30px;
}

.informationBoxTitle {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    margin-top: -30px;
}

.graph {
    width: 1000px;
    height: 510px;

    margin-top: 300px;
    margin-left: 50px;

    border-radius: 10px;

    background-color: #343434;

    color: white;
}

.graphTitle {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.graphDate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-top: -40px;
}

.LineWrapper {
    width: 800px;
    height: 350px;
    margin: 20px;
}